In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [6]:
import pandas as pd

In [75]:
colnames = ['pre','result','type','name']
table = pd.read_csv('results_6',names=colnames, header=None)

In [76]:
table['pre'][0]

'[array([0])'

In [77]:
table.head(5)

           pre          result          type                    name
0  [array([0])   array([ True]   dtype=bool)   u'nega_LKDS-00003_1']
1  [array([0])   array([ True]   dtype=bool)   u'nega_LKDS-00005_1']
2  [array([0])   array([ True]   dtype=bool)   u'nega_LKDS-00011_1']
3  [array([0])   array([ True]   dtype=bool)   u'nega_LKDS-00019_1']
4  [array([0])   array([ True]   dtype=bool)   u'nega_LKDS-00020_1']

In [78]:
for i in range(table.shape[0]):
    if table['pre'][i] == '[array([0])':
        table['pre'][i] = 0
    else:
        table['pre'][i] = 1
    if table['result'][i] == ' array([ True]':
        table['result'][i] = 1
    else:
        table['result'][i] = 0
    table['name'][i] = table['name'][i][3:-2]

In [80]:
table.head(5)

  pre result          type               name
0   0      1   dtype=bool)  nega_LKDS-00003_1
1   0      1   dtype=bool)  nega_LKDS-00005_1
2   0      1   dtype=bool)  nega_LKDS-00011_1
3   0      1   dtype=bool)  nega_LKDS-00019_1
4   0      1   dtype=bool)  nega_LKDS-00020_1

In [81]:
table['pre'][0]

0

In [38]:
#analyze: TP FN FP TN

In [82]:
tp_count = 0
fn_count = 0
fp_count = 0
tn_count = 0
for i in range(table.shape[0]):
    if (table['pre'][i] == 1) and (table['result'][i] == 1):
        tp_count +=1
    elif (table['pre'][i] == 0) and (table['result'][i] == 1):
        tn_count +=1
    elif (table['pre'][i] == 0) and (table['result'][i] == 0):
        fn_count +=1
    elif (table['pre'][i] == 1) and (table['result'][i] == 0):
        fp_count +=1

In [83]:
print tp_count
print fn_count
print fp_count
print tn_count

70
154
14
210

In [84]:
#we need tp and tn

In [95]:
TP = float(tp_count)
TN = float(tn_count)
FP = float(fp_count)
FN = float(fn_count)

In [96]:
#True Positive Rate（真正率 , TPR）或灵敏度（sensitivity） 
TPR = TP /(TP + FN) 
#正样本预测结果数 / 正样本实际数

#True Negative Rate（真负率 , TNR）或特指度（specificity） 
TNR = TN /(TN + FP) 
#负样本预测结果数 / 负样本实际数

#False Positive Rate （假正率, FPR） 
FPR = FP /(FP + TN)
#被预测为正的负样本结果数 /负样本实际数

#False Negative Rate（假负率 , FNR） 
FNR = FN /(TP + FN)
#被预测为负的正样本结果数 / 正样本实际数

#精确度（Precision）： 
P = TP/(TP+FP) 
#反映了被分类器判定的正例中真正的正例样本的比重

#准确率（Accuracy） 
A =(TP + TN)/(TP + FN + FP + TN);
#反映了分类器统对整个样本的判定能力——能将正的判定为正，负的判定为负

#召回率(Recall)，也称为 True Positive Rate: 
R = TP/(TP+FN)
#反映了被正确判定的正例占总的正例的比重

In [103]:
print "TPR: %f" %TPR
print "TNR: %f" %TNR
print "FPR: %f" %FPR
print "FNR: %f" %FNR
print "P: %f" %P
print "A: %f" %A
print "R: %f" %R

TPR: 0.312500
TNR: 0.937500
FPR: 0.062500
FNR: 0.687500
P: 0.833333
A: 0.625000
R: 0.312500

In [104]:
#analyze the four types' diameter distribution

In [105]:
table['name']

0       nega_LKDS-00003_1
1       nega_LKDS-00005_1
2       nega_LKDS-00011_1
3       nega_LKDS-00019_1
4       nega_LKDS-00020_1
5      nega_LKDS-00020_10
6      nega_LKDS-00020_11
7       nega_LKDS-00020_2
8       nega_LKDS-00020_4
9       nega_LKDS-00020_8
10      nega_LKDS-00020_9
11      nega_LKDS-00026_1
12      nega_LKDS-00026_2
13      nega_LKDS-00028_1
14      nega_LKDS-00029_1
15      nega_LKDS-00042_1
16      nega_LKDS-00047_2
17      nega_LKDS-00064_1
18      nega_LKDS-00064_2
19      nega_LKDS-00077_1
20      nega_LKDS-00078_1
21      nega_LKDS-00078_2
22      nega_LKDS-00078_3
23      nega_LKDS-00084_1
24      nega_LKDS-00090_1
25      nega_LKDS-00093_2
26      nega_LKDS-00100_1
27      nega_LKDS-00102_1
28      nega_LKDS-00104_1
29      nega_LKDS-00112_2
              ...
418     posi_LKDS-00859_5
419     posi_LKDS-00866_1
420     posi_LKDS-00866_2
421     posi_LKDS-00866_3
422     posi_LKDS-00882_1
423     posi_LKDS-00888_1
424     posi_LKDS-00890_1
425     posi_LKDS-00896_1
426     posi_LKDS-00901_2
427     posi_LKDS-00906_1
428     posi_LKDS-00914_1
429     posi_LKDS-00915_2
430     posi_LKDS-00915_3
431     posi_LKDS-00917_2
432     posi_LKDS-00917_3
433     posi_LKDS-00921_3
434     posi_LKDS-00942_1
435     posi_LKDS-00942_3
436     posi_LKDS-00946_1
437     posi_LKDS-00962_1
438     posi_LKDS-00969_1
439     posi_LKDS-00976_1
440     posi_LKDS-00976_2
441     posi_LKDS-00976_3
442     posi_LKDS-00976_4
443     posi_LKDS-00981_1
444     posi_LKDS-00982_1
445     posi_LKDS-00985_1
446     posi_LKDS-00990_1
447     posi_LKDS-01000_1
Name: name, Length: 448, dtype: object